@charset "UTF-8";


.top-56-bar {
  width: 100%;
  height: 56px; }

.word {
  font-family: "Noto Sans CJK TC Regular", "微軟正黑體", sans-serif; }
.flex-colum{
  display: flex;
  flex-direction: column;}
.list {
  justify-content: center;
  text-align: center;
  font-size: 24px;
  height: 80px;}
.main-bar{
  display: flex;
  flex-direction: row;
  justify-content: left;}
.home-img{
  justify-content: left;
  padding-right: 15px;}
.index .header-background h1 {
  text-shadow: -1px 2px 5px black; }
  @media only screen and (max-width: 576px) {
    .index .header-background h1 {
      font-size: 35px; } }
.navBar{
  color: white;}
.navBar:hover{
  color: #bff56e;}
.card .card-header {
  color: white; }

.news {
  background-color: rgba(182, 215, 168, 0.5); }
  .news .card .card-body {
    height: 200px;
    overflow: hidden; }
    @media only screen and (max-width: 768px) {
      .news .card .card-body {
        height: auto; } }
  @media only screen and (min-width: 840px) {
    .news .card {
      height: 200px; }
      .news .card img {
        width: 200px;
        height: 200px; } }
  @media only screen and (min-width: 480px) {
    .news .card {
      min-height: 200px;
      text-align: center; }
      .news .card img {
        width: 200px;
        height: 200px; } }
  @media only screen and (max-width: 480px) {
    .news .card {
      min-height: 200px;
      text-align: center; }
      .news .card img {
        width: 100%; } }

.medals {
  background-color: rgba(182, 215, 168, 0.5); }
  .medals .mdl-grid {
    width: 100%; }
  .medals .card img {
    margin-left: auto;
    margin-right: auto;
    width: 100%; }
    @media only screen and (min-width: 840px) {
      .medals .card img {
        max-width: 400px;
        max-height: 550px;
        width: 100%; } }