@charset "UTF-8";
.bg-greenery {
  background-color: #88b04b; }

.bg-mdlgray {
  background-color: #424242; }

.bg-alpha {
  background-color: rgba(0, 0, 0, 0) !important; }

.bg-deepgreen, .index .card-header {
  background-color: #93c47d; }

* {
  font-family: "Noto Sans CJK TC Regular", "微軟正黑體", sans-serif; }

.header-background {
  background: url("../image/home/navigation.jpg") center/cover;
  height: 800px;
  width: 100%; }

.news {
  background-color: rgba(182, 215, 168, 0.5); }
  .news .card .card-body {
    height: 200px;
    overflow: hidden; }
    @media only screen and (max-width: 768px) {
      .news .card .card-body {
        height: auto; } }
  @media only screen and (min-width: 840px) {
    .news .card {
      height: 200px; }
      .news .card img {
        width: 200px;
        height: 200px; } }
  @media only screen and (min-width: 480px) {
    .news .card {
      min-height: 200px;
      text-align: center; }
      .news .card img {
        width: 200px;
        height: 200px; } }
  @media only screen and (max-width: 480px) {
    .news .card {
      min-height: 200px;
      text-align: center; }
      .news .card img {
        width: 100%; } }

.medals {
  background-color: rgba(182, 215, 168, 0.5); }
  .medals .mdl-grid {
    width: 100%; }
  .medals .card img {
    margin-left: auto;
    margin-right: auto;
    width: 100%; }
    @media only screen and (min-width: 840px) {
      .medals .card img {
        max-width: 400px;
        max-height: 550px;
        width: 100%; } }
