@charset "UTF-8";
.max-width-limit {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0; }

.fullscreen-width {
  width: 100vw; }

.fullfather-width {
  width: 100%; }

.bg-gradient--keymeh {
  background: #8360c3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2ebf91, #8360c3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.bg-gradient--orca {
  background: #44A08D;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #093637, #44A08D);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #093637, #44A08D);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.bg-gradient--teal {
  background: #AAFFA9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #11FFBD, #AAFFA9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.bg-gradient--neonlife {
  background: #B3FFAB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #12FFF7, #B3FFAB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

* {
  font-family: "Noto Sans CJK TC Regular", "微軟正黑體", sans-serif; }

h1, h2, h3, h4, h5, h6, .mdl-layout-title {
  font-family: "Noto Sans CJK TC Regular", "微軟正黑體", sans-serif; }

.border-rect {
  border-radius: 0 !important; }

.border-none {
  border-style: none !important; }

.bg-greenery, .nav-bar-background--scrolled, .mdl-layout__header.fixed-bottom {
  background-color: #88b04b; }

.bg-mdlgray {
  background-color: #424242; }

.bg-alpha, .mdl-mini-footer {
  background-color: rgba(0, 0, 0, 0) !important; }

.bg-deepgreen, .index .card-header {
  background-color: #93c47d; }

.mdl-layout__obfuscator.is-visible {
  position: fixed; }

@media only screen and (min-width: 1280px) {
  .mdl-layout__drawer-button {
    left: calc((100vw - 1280px)/2); } }

.mdl-layout-title .mdl-layout-title__link {
  color: white; }

.mdl-layout__drawer.fixed-top {
  position: fixed;
  top: 0;
  left: 0; }

.mdl-layout__drawer .submenu {
  flex-direction: column;
  padding-left: 16px; }
  .mdl-layout__drawer .submenu .mdl-navigation__link {
    width: none; }

.mdl-layout__drawer .mdl-layout-title .mdl-layout-title__link {
  color: #424242; }

#FB-btn {
  background-image: url("../image/icon/facebook-box.png");
  background-size: contain;
  background-color: rgba(0, 0, 0, 0); }

#GPlus-btn {
  background-image: url("../image/icon/google-plus-box.png");
  background-size: contain;
  background-color: rgba(0, 0, 0, 0); }

#Twitter-btn {
  background-image: url("../image/icon/twitter-box.png");
  background-size: contain;
  background-color: rgba(0, 0, 0, 0); }

.hide {
  display: none !important; }

.show {
  display: flex !important; }

* {
  font-family: "Noto Sans CJK TC Regular", "微軟正黑體", sans-serif; }

.header-background {
  background: url("../image/home/navigation.jpg") center/cover;
  height: 800px;
  width: 100%; }

.news {
  background-color: rgba(182, 215, 168, 0.5); }
  @media only screen and (min-width: 840px) {
    .news .card {
      height: 200px; }
      .news .card img {
        width: 200px;
        height: 200px; } }
  @media only screen and (min-width: 480px) {
    .news .card {
      min-height: 200px;
      text-align: center; }
      .news .card img {
        width: 200px;
        height: 200px; } }
  @media only screen and (max-width: 497px) {
    .news .card {
      min-height: 200px;
      text-align: center; }
      .news .card img {
        width: 100%; } }

.medals {
  background-color: rgba(182, 215, 168, 0.5); }
  .medals .mdl-grid {
    width: 100%; }
  .medals .card img {
    margin-left: auto;
    margin-right: auto;
    width: 100%; }
    @media only screen and (min-width: 840px) {
      .medals .card img {
        max-width: 400px;
        max-height: 550px;
        width: 100%; } }
