@charset "UTF-8";
body[data-user-level-key="管理員"] #news-container .one-news-container .buttons .delete-button, body[data-user-level-key="管理員"] #news-container .one-news-container .buttons .edit-button {
  display: block; }

body[data-user-level-key="管理員"] #news-container .one-news-container[data-overflow='1'] .buttons .delete-button, body[data-user-level-key="管理員"] #news-container .one-news-container[data-overflow='1'] .buttons .edit-button {
  display: none; }

body[data-user-level-key="管理員"] #news-container .one-news-container[data-overflow='1']:hover .delete-button, body[data-user-level-key="管理員"] #news-container .one-news-container[data-overflow='1']:hover .edit-button {
  display: block; }

#news-container .one-news-container .buttons {
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 3;
  display: none; }
  #news-container .one-news-container .buttons .delete-button, #news-container .one-news-container .buttons .edit-button {
    display: none; }

#news-container .one-news-container[data-overflow='1'] .buttons {
  display: block; }

#news-container .one-news-container:hover .buttons {
  display: block; }
