@charset "UTF-8";
.max-width-limit {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0; }

.fullscreen-width {
  width: 100vw; }

.fullfather-width {
  width: 100%; }

.bg-greenery, .nav-bar-background--scrolled, .mdl-layout__header.fixed-bottom {
  background-color: #88b04b; }

.bg-mdlgray {
  background-color: #424242; }

.bg-alpha, .mdl-mini-footer {
  background-color: rgba(0, 0, 0, 0) !important; }

.bg-deepgreen, .card-header {
  background-color: #638332; }

.bg-gradient--keymeh {
  background: #8360c3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2ebf91, #8360c3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.bg-gradient--orca {
  background: #44A08D;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #093637, #44A08D);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #093637, #44A08D);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.bg-gradient--teal {
  background: #AAFFA9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #11FFBD, #AAFFA9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.bg-gradient--neonlife {
  background: #B3FFAB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #12FFF7, #B3FFAB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

@media only screen and (max-width: 480px) {
  .show-max-phone {
    display: flex !important; } }

@media only screen and (max-width: 840px) {
  .show-max-tablet {
    display: flex !important; } }

@media only screen and (max-width: 576px) {
  .show-max-xs {
    display: flex !important; } }

@media only screen and (max-width: 768px) {
  .show-max-sm {
    display: flex !important; } }

@media only screen and (max-width: 992px) {
  .show-max-md {
    display: flex !important; } }

@media only screen and (max-width: 1200px) {
  .show-max-lg {
    display: flex !important; } }

@media only screen and (max-width: 1200px) {
  .show-max-pc {
    display: flex !important; } }

@media only screen and (max-width: 1280px) {
  .show-max-xl {
    display: flex !important; } }

@media only screen and (max-width: 480px) {
  .hide-max-phone {
    display: none !important; } }

@media only screen and (max-width: 840px) {
  .hide-max-tablet {
    display: none !important; } }

@media only screen and (max-width: 576px) {
  .hide-max-xs {
    display: none !important; } }

@media only screen and (max-width: 768px) {
  .hide-max-sm {
    display: none !important; } }

@media only screen and (max-width: 992px) {
  .hide-max-md {
    display: none !important; } }

@media only screen and (max-width: 1200px) {
  .hide-max-lg {
    display: none !important; } }

@media only screen and (max-width: 1200px) {
  .hide-max-pc {
    display: none !important; } }

@media only screen and (max-width: 1280px) {
  .hide-max-xl {
    display: none !important; } }

@media only screen and (min-width: 480px) {
  .show-min-tablet {
    display: flex !important; } }

@media only screen and (min-width: 576px) {
  .show-min-sm {
    display: flex !important; } }

@media only screen and (min-width: 768px) {
  .show-min-md {
    display: flex !important; } }

@media only screen and (min-width: 992px) {
  .show-min-lg {
    display: flex !important; } }

@media only screen and (min-width: 840px) {
  .show-min-pc {
    display: flex !important; } }

@media only screen and (min-width: 1200px) {
  .show-min-xl {
    display: flex !important; } }

@media only screen and (min-width: 1280px) {
  .show-min-xlpc {
    display: flex !important; } }

@media only screen and (min-width: 480px) {
  .hide-min-tablet {
    display: none !important; } }

@media only screen and (min-width: 576px) {
  .hide-min-sm {
    display: none !important; } }

@media only screen and (min-width: 768px) {
  .hide-min-md {
    display: none !important; } }

@media only screen and (min-width: 992px) {
  .hide-min-lg {
    display: none !important; } }

@media only screen and (min-width: 840px) {
  .hide-min-pc {
    display: none !important; } }

@media only screen and (min-width: 1200px) {
  .hide-min-xl {
    display: none !important; } }

@media only screen and (min-width: 1280px) {
  .hide-min-xlpc {
    display: none !important; } }

a:hover {
  text-decoration: none;
  cursor: default; }

* {
  font-family: "Noto Sans CJK TC Regular", "微軟正黑體", sans-serif; }

h1, h2, h3, h4, h5, h6, .mdl-layout-title {
  font-family: "Noto Sans CJK TC Regular", "微軟正黑體", sans-serif; }

.card .card-header {
  color: white; }

.buttons {
  background-color: #e0e0e0; }

.border-rect {
  border-radius: 0 !important; }

.border-none {
  border-style: none !important; }

.top-64-bar {
  width: 100%;
  height: 64px; }
.top-56-bar {
    width: 100%;
  height: 56px; }

.mdl-layout__obfuscator.is-visible {
  position: fixed; }

@media only screen and (min-width: 1280px) {
  .mdl-layout__drawer-button {
    left: calc((100vw - 1280px)/2); } }

.mdl-mini-footer {
  padding-left: 8px;
  padding-right: 8px; }

.news-manager-button {
  display: none; }

body[data-user-level-key="管理員"] .news-manager-button {
  display: block; }

.mdl-layout__header.fixed-top.mdl-layout__header--transparent {
  background-color: rgba(62, 80, 34, 0.455); }

.mdl-layout__header.fixed-top.mdl-layout__header .mdl-navigation__link:hover {
  background-color: #49804ACC; }

.mdl-layout__header.fixed-top .mdl-layout__drawer-button {
  margin-left: 8px;
  margin-right: 0px; }
  @media only screen and (min-width: 1200px) {
    .mdl-layout__header.fixed-top .mdl-layout__drawer-button {
      display: none !important; } }

.mdl-layout__header.fixed-top .mdl-layout__header-row {
  padding-right: 8px;
  padding-left: 56px; }
  .mdl-layout__header.fixed-top .mdl-layout__header-row .mdl-layout-title {
    margin-left: 24px; }
    @media only screen and (min-width: 1200px) {
      .mdl-layout__header.fixed-top .mdl-layout__header-row .mdl-layout-title {
        margin-left: 0px; } }
  .mdl-layout__header.fixed-top .mdl-layout__header-row .mdl-textfield {
    margin-left: 16px;
    padding-bottom: 17px; }
  @media only screen and (min-width: 1200px) {
    .mdl-layout__header.fixed-top .mdl-layout__header-row {
      padding-left: 8px; } }

#account-dialog .mdl-tabs__panel {
  min-height: 250px; }
  @media only screen and (min-width: 576px) {
    #account-dialog .mdl-tabs__panel {
      min-width: 450px; } }

.mdl-layout-title .mdl-layout-title__link {
  color: white;
  line-height: 1.3; }

button.mdl-navigation__link {
  background: none;
  text-align: left;
  border: none; }
  button.mdl-navigation__link:hover {
    background-color: #e0e0e0; }

.mdl-layout__drawer.fixed-top {
  position: fixed;
  top: 0;
  left: 0; }

.mdl-layout__drawer .submenu {
  flex-direction: column;
  padding-left: 16px; }
  .mdl-layout__drawer .submenu .mdl-navigation__link {
    width: none; }

.mdl-layout__drawer .mdl-layout-title .mdl-layout-title__link {
  color: #424242; }

#FB-btn {
  background-image: url("../image/icon/facebook-box.png");
  background-size: contain;
  background-color: rgba(0, 0, 0, 0); }

#GPlus-btn {
  background-image: url("../image/icon/google-plus-box.png");
  background-size: contain;
  background-color: rgba(0, 0, 0, 0); }

#Twitter-btn {
  background-image: url("../image/icon/twitter-box.png");
  background-size: contain;
  background-color: rgba(0, 0, 0, 0); }

.hide {
  display: none !important; }

.show {
  display: flex !important; }
