@charset "UTF-8";
.bg-greenery {
  background-color: #88b04b; }

.bg-mdlgray {
  background-color: #424242; }

.bg-alpha {
  background-color: rgba(0, 0, 0, 0) !important; }

.bg-deepgreen, .index .card-header {
  background-color: #93c47d; }

.top-56-bar {
  width: 100%;
  height: 56px; }

* {
  font-family: "Noto Sans CJK TC Regular", "微軟正黑體", sans-serif; }
.word {
  font-family: "Noto Sans CJK TC Regular", "微軟正黑體", sans-serif; }
.flex-colum{
  display: flex;
  flex-direction: column;}
.list {
  justify-content: center;
  font-size: 48px;
  height: 300px;}
.list2{
  justify-content: center;
  font-size: 24px;
  height: 100px;
}
.link{
    color: white;
}
.main-bar{
  display: flex;
  flex-direction: row;
  justify-content: left;}
.home-img{
  justify-content: left;
  padding-right: 15px;}
.index .header-background h1 {
  text-shadow: -1px 2px 5px black; }
  @media only screen and (max-width: 576px) {
    .index .header-background h1 {
      font-size: 35px; } }

.card .card-header {
  color: white; }


