@import "colors";
.bg-greenery
{
    background-color: $greenery;
}
.bg-mdlgray
{
    background-color: $mdlgray;
}
.bg-alpha
{
    background-color: rgba(0,0,0,0) !important;
}
.bg-deepgreen
{
    background-color: $deepgreen;
}