$greenery:rgba(136,176,75,1); 
$background-green:rgba(182,215,168,0.5);
$mdlgray:#424242;
$mdldrawerhoverbg:#e0e0e0;
$mdldeepgreen:rgb(0,150,136);

$deepgreen:rgb(99, 131, 50);
$greentopmost:rgba(62, 80, 34, 0.455);
$headerlinkhover:#49804ACC;
$headerlinkactive:#1E5532CC;