@import "break-point";
$display:(show,hide);
$dispMap:(show:flex,hide:none);
@each $disp in $display
{
    @each $point in $breakpoints 
    {
        .#{$disp}-max-#{$point} 
        {
            @include breakpointMax($point)
            {
                display: map-get($dispMap , $disp ) !important;
            };
        };
    };
};
