@import "break-point";
@import "colors";
@import "background";

$normal-font-family:'Noto Sans CJK TC Regular','微軟正黑體',sans-serif;
*{
    font-family: $normal-font-family;
}
.header-background
{
    background: url('../image/home/navigation.jpg') center / cover;
    height: 800px;
    width:100%;
}
body[data-user-level-key="管理員"]
{
    .news
    {
        .one-news-container
        {
            .buttons
            {
                .delete-button,.edit-button
                {
                    display: block;
                }
            }
            &[data-overflow='1']
            {
                .buttons
                {
                     .delete-button,.edit-button
                     {
                         display: none;
                     }
                }
                &:hover
                {
                    .delete-button,.edit-button
                    {
                        display: block;
                    }
                }
            }
        }
    }
}
.news
{
    .one-news-container
    {
        
        .buttons
        {
            .delete-button,.edit-button
            {
                display: none;
            }
            position: absolute;
            bottom: 8px;
            right: 8px;
            z-index: 3;
            display: none;
        }
        &[data-overflow='1']
       {
           .buttons
           {
               display: block;
           }
       }
        &:hover
        {
            .buttons
            {
                display: block;
            }
        }
    }
}
 
.header-background
{
    h1
    {
        text-shadow: -1px 2px 5px black;
        @include breakpointMax(xs)
        {
            font-size:35px;
        }
    }
}

.news
{
    background-color: $background-green;
    .card
    {
        .card-body
        {
            height: 200px;
            overflow: hidden;
            @include breakpointMax(sm)
            {
                height: auto;
            }
        }
        
    
    }
    @include breakpoint(pc)
    {
        .card
        {
            height: 200px;
            img
            {
                width:200px;
                height: 200px;
            }
        }
    }
    @include breakpoint(tablet)
    {
        .card
        {
            min-height: 200px;
            text-align: center;
            img
            {
                width:200px;
                height: 200px;
            }
        }
    }
    @include breakpoint(phone)
    {
        .card
        {
            min-height: 200px;
            text-align: center;
            img
            {
                width: 100%;
            }
        }
    }
}
.medals
{
    background-color: $background-green;
    .mdl-grid
    {
        width:100%;
    }
    .card
    {
        img
        {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            @include breakpoint(pc)
            {
                max-width:400px;
                max-height: 550px;
                width:100%;
            }
            @include breakpoint(tablet)
            {
                
            }
            @include breakpoint(phone)
            {

            }
        }
        
    }
}