@import "break-point";
@import "colors";
@import "style.scss";
$normal-font-family:'Noto Sans CJK TC Regular','微軟正黑體',sans-serif;
*{
    font-family: $normal-font-family;
}
.header-background
{
    background: url('../image/home/navigation.jpg') center / cover;
    height: 800px;
}
.index
{
    .card-header
    {
        @extend .bg-deepgreen;
    }
}
.news
{
    background-color: $background-green;
    @include breakpoint(pc)
    {
        .card
        {
            height: 200px;
            img
            {
                width:200px;
                height: 200px;
            }
        }
    }
    @include breakpoint(tablet)
    {
        .card
        {
            min-height: 200px;
            text-align: center;
            img
            {
                width:200px;
                height: 200px;
            }
        }
    }
    @include breakpoint(phone)
    {
        .card
        {
            min-height: 200px;
            text-align: center;
            img
            {
                width: 100%;
            }
        }
    }
}
.medals
{
    background-color: $background-green;
    .mdl-grid
    {
        width:100%;
    }
    .card
    {
        img
        {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            @include breakpoint(pc)
            {
                max-width:400px;
                max-height: 550px;
                width:100%;
            }
            @include breakpoint(tablet)
            {
                
            }
            @include breakpoint(phone)
            {

            }
        }
        
    }
}