body[data-user-level-key="管理員"]
{
    #news-container 
    {
        .one-news-container
        {
            .buttons
            {
                .delete-button,.edit-button
                {
                    display: block;
                }
            }
            &[data-overflow='1']
            {
                .buttons
                {
                     .delete-button,.edit-button
                     {
                         display: none;
                     }
                }
                &:hover
                {
                    .delete-button,.edit-button
                    {
                        display: block;
                    }
                }
            }
        }
    }
}
#news-container 
{
    .one-news-container
    {
        
        .buttons
        {
            .delete-button,.edit-button
            {
                display: none;
            }
            position: absolute;
            bottom: 8px;
            right: 8px;
            z-index: 3;
            display: none;
        }
        &[data-overflow='1']
       {
           .buttons
           {
               display: block;
           }
       }
        &:hover
        {
            .buttons
            {
                display: block;
            }
        }
    }
}