@import "break-point";
figure
{
    img{
        width:100%;
        height: 100%;;
    }
    @include breakpointMin(md)
    {

            width: auto;
            height: 100%;
            max-width: 55vw;

    }
    @include breakpointMax(md)
    {

            width: 100%;
            height: auto;

        
    }

}
