$greenery:rgba(136,176,75,1); 
$normal-font-family:'Noto Sans CJK TC Regular','微軟正黑體',sans-serif;
*{
    font-family: $normal-font-family;
}
h1,h2,h3,h4,h5,h6,.mdl-layout-title
{
    font-family: $normal-font-family;
}
.border-rect
{
    border-radius: 0 !important;
}
.border-none
{
    border-style: none !important;
}
.bg-alpha
{
    background-color: rgba(0,0,0,0) !important;
}
#FB-btn
{
    background-image: url('../image/facebook-box.png');
    background-size: contain;
    background-color: rgba(0,0,0,0);
}
#GPlus-btn
{
    background-image: url('../image/google-plus-box.png');
    background-size: contain;
    background-color: rgba(0,0,0,0);
}
#Twitter-btn
{
    background-image: url('../image/twitter-box.png');
    background-size: contain;
    background-color: rgba(0,0,0,0);
}