@import "colors";
$normal-font-family:'Noto Sans CJK TC Regular','微軟正黑體',sans-serif;
*{
    font-family: $normal-font-family;
}
h1,h2,h3,h4,h5,h6,.mdl-layout-title
{
    font-family: $normal-font-family;
}
.border-rect
{
    border-radius: 0 !important;
}
.border-none
{
    border-style: none !important;
}
.bg-greenery
{
    background-color: $greenery;
}
.bg-mdlgray
{
    background-color: $mdlgray;
}
.bg-alpha
{
    background-color: rgba(0,0,0,0) !important;
}
.bg-deepgreen
{
    background-color: $deepgreen;
}

.mdl-layout__obfuscator.is-visible
{
    position: fixed;
}
.mdl-layout__header.fixed-bottom
{
    @extend .bg-mdlgray
}
.nav-bar-background--scrolled 
{
    @extend .bg-mdlgray;
}
.mdl-mini-footer
{
    @extend .bg-deepgreen;
}
.mdl-layout-title
{
    .mdl-layout-title__link
    {
        color:white;
        &:hover
        {

        }
    }
}
.mdl-layout__drawer
{
    .mdl-layout-title
    {
        .mdl-layout-title__link
        {
            color:$mdlgray;
            &:hover
            {

            }
        }
    }
}
#FB-btn
{
    background-image: url('../image/icon/facebook-box.png');
    background-size: contain;
    background-color: rgba(0,0,0,0);
}
#GPlus-btn
{
    background-image: url('../image/icon/google-plus-box.png');
    background-size: contain;
    background-color: rgba(0,0,0,0);
}
#Twitter-btn
{
    background-image: url('../image/icon/twitter-box.png');
    background-size: contain;
    background-color: rgba(0,0,0,0);
}
.hide
{
    display: none !important;
}
.show
{
    display: flex !important;
}