@import "colors";
@import "width";
@import "break-point";
@import "background";
@import "gradient";
@import "display";
a:hover{
    text-decoration:none;
    cursor: default;//pointer;
}
$normal-font-family:'Noto Sans CJK TC Regular','微軟正黑體',sans-serif;
*{
    font-family: $normal-font-family;
}
h1,h2,h3,h4,h5,h6,.mdl-layout-title
{
    font-family: $normal-font-family;
}
.card-header
{
    @extend .bg-deepgreen;
}
.border-rect
{
    border-radius: 0 !important;
}
.border-none
{
    border-style: none !important;
}

.top-64-bar
{
    width: 100%;
    height: 64px;
}
.mdl-layout__obfuscator.is-visible
{
    position: fixed;
}
.mdl-layout__drawer-button
{
    @include breakpoint(xlpc)
    {
        left:calc((100vw - 1280px)/2);
    }
}
.nav-bar-background--scrolled 
{
    @extend .bg-greenery;
}
.mdl-layout__header.fixed-bottom
{
    @extend .nav-bar-background--scrolled;
}
.mdl-mini-footer
{
    @extend .bg-alpha;
    padding-left: 8px;
    padding-right: 8px;
}
.news-manager-button
{
        display: none;
}
body[data-user-level-key="管理員"]
{
    .news-manager-button
    {
        display: block;
    }
}

.mdl-layout__header
{
    &.fixed-top
    {
        &.mdl-layout__header--transparent
        {
            background-color: $greentopmost;
        }
        &.mdl-layout__header
        {
            .mdl-layout-title
            {
                &:hover
                {

                }
            }
            .mdl-navigation__link
            {
                &:hover
                {
                    background-color:$headerlinkhover;
                }
            }
            button
            {
                .mdl-navigation__link
                {

                }
            }
        }
        .mdl-layout__drawer-button
        {
            margin-left: 8px;
            margin-right: 0px;
            @include  breakpointMin(xl)
            {
                display: none !important;
            }
        }

        .mdl-layout__header-row
        {
            padding-right: 8px;
            padding-left: 56px;
            .mdl-layout-title
            {
                margin-left: 24px;
                @include  breakpointMin(xl)
                {
                    margin-left: 0px;
                }
            }
            .mdl-textfield
            {
                margin-left: 16px;
                padding-bottom:17px;
            }
            @include breakpointMin(xl)
            {
                padding-left: 8px;
            };
        }
    }
}
#account-dialog
{

        .mdl-tabs__panel
        {
            min-height: 250px;
            @include breakpointMin(sm)
            {
                min-width: 450px;
            }
        }
    
   
}
.mdl-layout-title
{
    .mdl-layout-title__link
    {
        color:white;
        line-height:1.3;
    }
}
button
{
    &.mdl-navigation__link
    {
        background: none;
        text-align: left;
        border: none;
        &:hover
        {
            background-color: $mdldrawerhoverbg;
        }
    }    
}
.mdl-layout__drawer
{
    &.fixed-top
    {
        position: fixed;
        top:0;
        left: 0;
    
    }

    

    .submenu
    {
        flex-direction: column;
        padding-left:16px;
        .mdl-navigation__link
        {
            width: none;
        }
    }
    .mdl-layout-title
    {
        .mdl-layout-title__link
        {
            color:$mdlgray;
            &:hover
            {

            }
        }
    }
}

#FB-btn
{
    background-image: url('../image/icon/facebook-box.png');
    background-size: contain;
    background-color: rgba(0,0,0,0);
}
#GPlus-btn
{
    background-image: url('../image/icon/google-plus-box.png');
    background-size: contain;
    background-color: rgba(0,0,0,0);
}
#Twitter-btn
{
    background-image: url('../image/icon/twitter-box.png');
    background-size: contain;
    background-color: rgba(0,0,0,0);
}
.hide
{
    display: none !important;
}
.show
{
    display: flex !important;
}